# --- Dados e Modelos (Obrigatório ignorar devido ao tamanho) ---
data/raw/
data/processed/
model/
outputs/
.cache/

# --- Configurações e Segredos ---
.env
.ipynb_checkpoints/

# --- Ambiente Virtual ---
.venv/
venv/
env/
virtualenv/

# --- Arquivos de sistema e cache ---
__pycache__/
*.py[cod]
*$py.class
.DS_Store
Thumbs.db

# --- Logs e Performance ---
*.log
wandb/
.pytest_cache/